// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


.card-horizontal {
  display: flex;
  text-align: left;
  flex: 1 1 auto;
  border: 1px solid;
  margin: 5px;
}

.list-name {
  text-align: center;
}

.card-body {
  padding: 16px;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  // align-items: flex-end;
  // position: relative;
  .card-remove-link {
  text-align: right;
  }

}
